/* *{
  margin: 0px;
} */
body{
height: 50vh;

}


#box{
  height: 250px;
 width: 250px; 
 background-color: red;
 margin: auto;
}

#box:hover{
  box-shadow: 10px 10px 30px grey, 
              -10px -10px 30px grey;
}

h1{
  text-align: center;
}